{% block nav %}
{% set STAFF = 1 %}
{% set ADMIN = 0 %}
    <div class="row-fluid">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-links">
                        <span class="icon-white icon-plus icon-2x"></span>
                    </a>
                    <a href="{{ url_for('admin.index') }}" class="brand"><img src="{{ url_for('static', filename='img/obp.png')}}" width="40px"></a>
                    <div class="nav-collapse collapse" id="nav-links">
                        <ul class="nav">
                            <li class="dropdown">
                                <a id="posts" href="" role="button" class="dropdown-toggle"
                                   data-toggle="dropdown">posts <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('admin.post_index') }}">View Posts</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('admin.post_add') }}">New Post</a></li>
                                </ul>
                            </li>
                            {% if current_user.role<=ADMIN%}
                            <li class="dropdown">
                                <a id="users" href="" role="button" class="dropdown-toggle"
                                   data-toggle="dropdown">users <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('admin.user_index') }}">View Users</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('admin.user_add') }}">New User</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if current_user.is_authenticated() %}
                                <li class="divider-vertical"></li>
                                <li class='pull-right'><a href="">Hi {{ current_user.username }}</a></li>
                                <li><a href="/">blog</a></li>
                                <li class='pull-right'><a href='{{ url_for('logout') }}'>logout</a></li>
                            {% endif %}
                        </ul>
                        <form class="navbar-search pull-right">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}