{% extends 'admin/base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block body_content %}

    <div class="row-fluid content">
        <div class="span12">
            <form action="." method="POST" class="form" id="post_form">
                <table class="table table-striped table-condensed table-bordered" id="post_table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>title</th>
                        <th class="hidden-phone">author</th>
                        <th>status</th>
                        <th class="hidden-phone">category</th>
                        <th class="hidden-phone">tags</th>
                        <th class="hidden-phone">comments</th>
                        <th class="actions">quick edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class="multi-action"><input type=checkbox name="multi-action" value={{ post.id }}></td>
                            <td>{{ post.title }}</td>
                            <td class="hidden-phone">{{ post.author.username }}</td>
                            <td>{{ post_status[post.status] }}</td>
                            <td class="hidden-phone">{{ post.category.name }}</td>
                            <td class="hidden-phone">
                                {% for tag in post.tags %}
                                    {{ tag.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="hidden-phone">{{ post.comments.count() }}</td>
                            <td class="actions">

                                <div class="btn-group">
                                    <a href="{{ url_for('admin.post_edit', post_id=post.id) }}" title="edit post">
                                        <button class="btn btn-mini">
                                            <i class="icon-edit"></i>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
{#                    {% for user in users %}#}
{#                        <tr {% if user.status==roles.INACTIVE %}#}
{#                                class="inactive_user"#}
{#                            {% elif user.status==roles.BANNED %}#}
{#                                class="banned_user"#}
{#                            {% endif %}#}
{#                        >#}
{#                            <td class="multi-action"><input type=checkbox name="multi-action" value={{ user.id }}></td>#}
{#                            <td>#}
{#                                {{ user.username }}#}
{#                            </td>#}
{#                            <td class="hidden-phone">#}
{#                                {{ user_role[user.role] }}#}
{#                            </td>#}
{#                            <td class="hidden-phone">#}
{#                                {{ user.email }}#}
{#                            </td>#}
{#                            <td class="actions">#}
{##}
{#                                <div class="btn-group">#}
{#                                <a href="edit/{{ user.id }}/" title="edit user">#}
{#                                    <button class="btn btn-mini">#}
{##}
{#                                            <i class="icon-edit"></i>#}
{##}
{#                                    </button></a>#}
{#                                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">#}
{#                                        <span class="caret"></span>#}
{#                                    </button>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="delete/{{ user.id }}/" title="delete user"><i class="icon-trash btn btn-danger"></i></a></li>#}
{#                                        {% if user.status==3 %}#}
{#                                            <li><a href="" title="user is banned"><i class="icon-ban-circle btn btn-danger disabled"></i></a></li>#}
{#                                            <li><a href="unban/{{ user.id }}/" title="unban user"><i class="icon-ok btn btn-success"></i></a></li>#}
{#                                        {% else %}#}
{#                                            <li><a href="ban/{{ user.id }}/" title="ban user"><i class="icon-ban-circle btn btn-danger"></i></a></li>#}
{#                                            <li><a href="" title="user not banned"><i class="icon-ok btn btn-success disabled"></i></a></li>#}
{#                                        {% endif %}#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </td>#}
{##}
{#                        </tr>#}
{#                    {% endfor %}#}
                    </tbody>
                </table>
                <select name="action">
                    <optgroup label="with selected:"></optgroup>
                    <option selected="true"></option>
                    <option>delete</option>
                    <option>publish</option>
                    <option>pend</option>
                </select>
                <button class="btn btn-success go">
                    go
                </button>
            </form>
        </div>
    </div>

{% endblock %}