{% extends 'base.html' %}

{% block body_content %}
    <div class="row-fluid content">

        <div class="span9">
             <div class="span8 main pull-right">
                <h3>latest words...</h3>
                {% if posts %}
                    {% for post in posts %}
                        <div class="post">
                            <h4>{{ post.title }}</h4>
                            {% if not current_user.is_anonymous() %}
                                {% if current_user.role == 0 or (current_user.role == 1 and
                                current_user.username == post.author.username) %}
                                    <a href='/admin/posts/edit/{{ post.id }}'>edit</a>
                                {% endif %}
                            {% endif %}
                            {% if post.pub_date %}
                                <h5>published on {{ post.pub_date.strftime('%A, %B %d') }} at
                                    {{ post.pub_date.strftime('%I:%M %p %Z') }}</h5>
                                <h6>by: {{ post.author.first_name }}</h6>
                            {% endif %}
                                {{ post.body | markdown }}
                            {% if current_user.is_authenticated() %}
                                comments are coming soon
                            {% else %}<a href="/login">comment</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <em>sorry... I've not written anything... :(</em>
                {% endif %}
             </div>

             {% include 'sidebar-left.html' %}
        </div>

        {% include 'sidebar-right.html' %}

    </div>
{% endblock %}

