{% extends 'base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block body_content %}
    <div class='row-fluid'>
        <div class="span9">
            <div class="span8 main pull-right">
                <div class="span12">
                    <h4>Login:</h4>
                    <form class="form form-inline" method="POST" action="." id="login_form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, "only") }}
                        {{ form.csrf_token }}
                        {{ wtf.horizontal_field(form.username) }}
                        {{ wtf.horizontal_field(form.password) }}
                        {{ wtf.horizontal_field(form.remember) }}
                        <div>
                            <button name="action_submit" type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>

            {% include 'sidebar-left.html' %}
        </div>

        {% include 'sidebar-right.html' %}

    </div>
{% endblock %}