{% extends 'base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block body_content %}
    <div class="row-fluid content">

        <div class="span9">
            <div class="span8 main pull-right">
                {% if post %}
                    <div class=" post">
                        <h3>{{ post.title }}</h3>
                            <h5>published on {{ post.pub_date.strftime('%A, %B %d') }} at
                                {{ post.pub_date.strftime('%I:%M %p %Z') }}</h5>
                            <h6>
                                by: {{ post.author.first_name }} in
                                <a href="{{ url_for('category_index', category_slug=post.category.slug) }}">
                                    {{ post.category.name }}
                                </a>
                            </h6>
                            {{ post.body | markdown }}
                            {% if post.tags%}
                                <h6>tagged:</h6>
                                {% for tag in post.tags %}
                                    <a href="{{ url_for('tag_index',tag_slug=tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="">
                    <h4>Recent Comments:</h4>
                        {% if comments %}
                            {% for comment in comments %}
                                by: {{ comment.author.username }}<br/>
                                {{ comment.create_date.strftime('%A, %B %d at %I:%M %p %Z') }}
                                {{ comment.body|markdown }}
                            {% endfor %}
                        {% else %}
                            No comments
                        {% endif %}
                    </div>
                    <div class="">
                        {% if current_user.is_authenticated() %}
                            <h4>Add a comment:</h4>
                            <form action="{{ form_action }}" method="{{ method | d("POST") }}" class="form form-horizontal"  id="admin_form">
                                {{ wtf.render_form(form) }}
                                <div class="form_button">
                                    <button name="action_submit" type="submit" class="btn btn-primary">{{ button_text }}</button>
                                </div>
                            </form>
                        {% else %}
                            <a href="{{ url_for('login') }}">login</a> to comment
                        {% endif %}
                    </div>
                {% else %}
                    <em>sorry... I've not written anything... :(</em>
                {% endif %}
            </div>

            {% include 'sidebar-left.html' %}
        </div>

        {% include 'sidebar-right.html' %}

    </div>
{% endblock %}

