{% extends 'base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block body_content %}
    <div class="row-fluid content">
        <div class="span9">
            <div class="span8 main pull-right">
                <h3>All posts tagged with "{{ tag.name }}"</h3>
                {% if posts %}
                    {% for post in posts %}
                        <h4><a href="{{ url_for('individual_post', post_slug=post.slug)}}">{{ post.title }}</a></h4>
                            <h5>published on {{ post.pub_date.strftime('%A, %B %d') }} at
                                {{ post.pub_date.strftime('%I:%M %p %Z') }}</h5>
                            <h6>
                                by: {{ post.author.first_name }} in
                                <a href="{{ url_for('category_index', category_slug=post.category.slug) }}">
                                    {{ post.category.name }}
                                </a>
                            </h6>
                            {{ post.body | markdown }}
                            {% if post.tags%}
                                <h6>tagged:</h6>
                                {% for tag in post.tags %}
                                    <a href="{{ url_for('tag_index',tag_slug=tag.slug) }}">
                                        {{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                    {% endfor %}
                {% else %}
                    There are no posts tagged with "{{ tag.name }}".
                {% endif %}
            </div>

            {% include 'sidebar-left.html' %}
        </div>

        {% include 'sidebar-right.html' %}

    </div>
{% endblock %}

